<?xml version="1.0"?>
<launch>

	<!-- room exploration server node -->
	<node pkg="ipa_room_exploration" type="room_exploration_client" name="room_exploration_client" output="screen" >
		<rosparam command="load" file="$(find rotate_turtlebot3)/launch/cppClient.yaml"/>
	</node>

	<!-- ACTIVATE IF NEEDED: run cob_map_accessibility_analysis_server -->
	<!-- include file="$(find ipa_room_exploration)/ros/launch/cob_map_accessibility_analysis.launch"/-->

	<!-- NOT NECESSARY ANYMORE: using direct library interface now, run coverage_check_server -->
	<!-- include file="$(find ipa_room_exploration)/ros/launch/coverage_check_server.launch"/-->

</launch>
